nav{
  width: auto;
}

a {
  color:#1364AA
}

a:hover {
  opacity: .5;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 1rem 0;
  justify-content: center;
  width: 100%;
}

li {
  margin: 0 3rem;
}

a {
  text-decoration: none;
}

span {
  color: #1364AA; 
}